/* APB TABs
----------------------------------*/
.apb-product_tab {
  padding-top: 30px;
  padding-bottom: 30px;
}

.apb-product_tab-panel {
  overflow: hidden;
}

.apb-product_tab-header {
  margin: 0 0 30px;
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
  }

  > li > a {
    position: relative;
    display: inline-block;

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }
}
